<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>author</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
<tbody>
  <% obj.each do |article| %>
  <tr>
    <td style="max-width: 150px"><%= article.title %></td>
    <td style="max-width: 50px; white-space:nowrap;overflow:hidden;"><%= article.description %></td>
    <td style="max-width: 30px; white-space:nowrap;overflow:hidden;">
      <% if article.user != nil %>
      <%= article.user.userName %>
      <% end %>
    </td>
    <td><%= link_to "show", article_path(article) %></td>
    <% if logged_in? && current_user == article.user %>
      <td><%= link_to "edit", edit_article_path(article) %></td>
      <td><%= link_to "delete", article_path(article), method: :delete, data: {confirm: "are you sure?"} %></td>
    <% else %>
      <td></td>
      <td></td>
    <% end %>
  </tr>
  <% end %>
  </tbody>
</table>
