<% if @article.errors.any? %>
  <div class="alert alert-danger container" role="alert">
    <h4 class="alert-heading">Error!</h4>
    <p>The following errors prevented the article from getting created.</p>
    <hr>
    <% @article.errors.full_messages.each do |msg| %>

    <p class="mb-0"><%= msg %></p>
  <% end %>
</div>

<% end %>

<div class='row' style="height:47.6em; max-width: 99%;">
  <div class='col-8' style="margin: 0 28%;">
    <%= form_for(@article, :html => {role: "form"}) do |f| %>
    <div class="form-group">
      <div class="control-label col-2">
        <%= f.label :title %>
      </div>
      <div class="col-8">
        <%= f.text_field :title, class: "form-control", placeholder: "Title of article", autofocus: true %>
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-2">
        <%= f.label :description %>
      </div>
      <div class="col-8">
        <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Body of article" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-offset-2 col-10" style="margin-left: 28%;" >
        <%= f.submit class: 'btn btn-primary btn-lg' %>
      </div>
    </div>
    <% end %>
    <div class="col-4 col-offset-4" style="margin-left:21%;">
      [ <%= link_to "Cancel request and return to articles listing", articles_path %> ]
    </div>
  </div>
</div>
