<div class="container">
  <h1 align="center"> <%= @user.userName %>'s profile </h1>
  <div class="row justify-content-md-center">
    <div class="col-2">
      <%= gravatar_for @user, size: 150%>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto">
      <br>
      <h4> <%= @user.userName %>'s Articles </h4>
    </div>
  </div>
  <div class="row justify-content-center" style="margin-top:2%">
    <%= will_paginate @user_articles%>
  </div>
  <%= render 'articles/article', obj: @user_articles%>
  <div class="row justify-content-center" style="margin-top:2%">
    <%= will_paginate @user_articles %>
  </div>
</div>
